<appSettings>
  <add key="username" value="sheila.stanaland@gmail.com"/>
  <add key="password" value="hpjmprvfarfxplye"/>
  <add key="emailfrom" value="sheila.stanaland@gmail.com"/>
  <add key="emailto" value="sheila.stanaland@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
  <add key="API_Key" value="AIzaSyDyAwU-dVgMzCq_C97wOYhCnKSWjeOvKOY"/>
</appSettings>